/*
      Created by Keith Donegan of Code-Sucks.com
	  
	  E-Mail: Keithdonegan@gmail.com
	  
	  You can do whatever you want with these layouts,
	  but it would be greatly appreciated if you gave a link
	  back to http://www.code-sucks.com
	  
*/

* { padding: 0; margin: 0; }

body {
 font-family: Century Gothic, Helvetica, sans-serif;
 font-size: 13px;
 color: #000000 ;
 background-image: url("1231249942_470x353_haunted-dark-house.jpg");
}
#wrapper { 
 margin: 0 auto;
 width: 922px;
}
#header {
 color: #333;
 width: 900px;
 float: left;
 padding: 10px;
 border: 1px solid #ccc;
 height: 100px;
 margin: 10px 0px 5px 0px;
 background: #ff6633;
}
#leftcolumn { 
 color: #ffffff;
 border: 1px solid #ccc;
 background: #000000;
 margin: 0px 5px 5px 0px;
 padding: 10px;
 height: 850px;
 width: 195px;
 float: left;
}
#content { 
 float: left;
 color: #ff6633;
 border: 1px solid #ccc;
 background: #ffffff;
 margin: 0px 5px 5px 0px;
 padding: 10px;
 height: 850px;
 width: 456px;
 display: inline;
}
#rightcolumn { 
 color: #ff6633;
 border: 1px solid #ccc;
 background: #000000;
 margin: 0px 0px 5px 0px;
 padding: 10px;
 height: 850px;
 width: 195px;
 float: left;
}
#footer { 
 width: 900px;
 clear: both;
 color: #000000;
 border: 1px solid #ccc;
 background: #ff6600;
 margin: 0px 0px 10px 0px;
 padding: 10px;
}

.sexypanels{
list-style-type: none;
margin: 0;
padding: 0;
width: 180px; /* width of menu */
}

.sexypanels li{
border-bottom: 1px solid white; /* white border beneath each menu item */
}

.sexypanels li a{
background: #333 url(sexypanelright.gif) no-repeat right top; /*color of menu by default*/
font: bold 13px "Lucida Grande", "Trebuchet MS", Verdana;
display: block;
color: white;
width: auto;
padding: 5px 0; /* Vertical (top/bottom) padding for each menu link */
text-indent: 8px;
text-decoration: none;
border-bottom: 1px solid black; /*bottom border of menu link. Should be equal or darker to link's bgcolor*/
}

.sexypanels li a:visited, .sexypanels li a:active{
color: white;
}

.sexypanels li a:hover{
background-color: black; /*color of menu onMouseover*/
color: white;
border-bottom: 1px solid black; /*bottom border of menu link during hover. Should be equal or darker to link's hover's bgcolor*/
}


</style>

<!--[if IE]>
<style type="text/css">
.sexypanels li a{ /* Menu link width value for IE */
width: 100%;
}